        body {
            background-color: DEDEDE;
        }
        #ai-header {
            width: 1000px;
            height: 50px;
            margin-left: auto;
            margin-right: auto;
        }
        #ai-center {
            width: 600px;
            height: 800px;
            margin-left: auto;
            margin-right: auto;
            background-color: #A9A9A9;
            //padding: 14px;
            box-shadow: 0px 0px 12px 3px #000000;
            border-radius: 4px;
        }