        body {
            //background-color: DEDEDE;
            //background-size: 100%;
            //background-image: url("./res/sunset-gradient.jpg");
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,1e5799+100&0+0,1+100 */
            background: -moz-linear-gradient(top,  rgba(125,185,232,0) 0%, rgba(30,87,153,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(30,87,153,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom,  rgba(125,185,232,0) 0%,rgba(30,87,153,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
        }
        #ai-header {
            width: 100%;
            height: 50px;
        }

        #ai-center-container{
            width: 1000px;
            height: 800px;
            margin-left: auto;
            margin-right: auto;
        }

        #ai-center {
            width: 600px;
            height: 800px;
            margin-left: 175px;
            float: left;
            background-color: #A9A9A9;
            //padding: 14px;
            box-shadow: 0px 0px 12px 3px #000000;
            border-radius: 4px;
        }

        #ai-next-tetro{
            width: 150px;
            height: 150px;
            margin-left: 25px;
            float: left;
            background-color: #A9A9A9;
            box-shadow: 0px 0px 12px 3px #000000;
            border-radius: 4px;
        }

        /* @todo fix proportions*/
        #ai-next-tetro-image{
            display: block;
            margin: auto;
            padding: 10px;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }

        #ai-footer{
            width: 100%;
            height: 30px;
        }